canvas {
	padding: 0px;
	float: left;
}

.button {
	background-color: #feffa1;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	width: 92px;
	height: 92px;
	border: 1px solid orange;
	outline: none;
}

.list {
	list-style: none;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.menuItem {
	padding: 0px;
	border: 0px;
	margin-bottom: 5px;
}

#reloadButton {
	background-image: url("reloadButton.png");
}

#helpButton {
	background-image: url("helpButton.png");
}

#helpMenu {
	float: left;
	background-color: #feffa1;
	border: 1px solid orange;
	margin-left: 5px;
	width: 300px;
	height: 300px;
	outline: none;
}

#menu {
	float: left;
	padding: 0px;
	margin-left: 5px;
	height: 588px;
}